<div class="send-form-style">

  <div class="send-form">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Очередь 1</mat-label>
      <input matInput type="text" [(ngModel)]="value1">
      <button *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="button-form-style" (click)="submit('test message')" mat-raised-button>Отправить</button>
  </div>

  <div class="send-form">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Очередь 2</mat-label>
      <input matInput type="text" [(ngModel)]="value2">
      <button *ngIf="value2" matSuffix mat-icon-button aria-label="Clear" (click)="value2=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="button-form-style" (click)="submit('test message')" mat-raised-button>Отправить</button>
  </div>

  <div class="send-form">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Очередь 3</mat-label>
      <input matInput type="text" [(ngModel)]="value3">
      <button *ngIf="value3" matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button class="button-form-style" (click)="submit('test message')" mat-raised-button>Отправить</button>
  </div>


  <div class="send-form">
    <button class="button-form-style" (click)="checkServerStatus()" mat-raised-button>Проверить статус сервиса</button>
  </div>

</div>

